<div class="body" style="background-image: url(Simple%20Shiny.svg);">
  <div class="nav">
    <div class="logo">
      <img src="krome-white.png" alt="">
    </div>
    <p>Trip Information</p>
  </div>

  <div class="sections">
    <div class="section1">
      <p class="header">Please fill your trip information</p>
      <form action="" class="traject">
        <input type="radio" name="traject" id="" class="go">One Way
        <input type="radio" name="traject" id="" class="goBack">Round Trip
      </form>
      <div class="place">
        <div class="place-indic">
          <p>From</p>
          <p>To</p>
        </div>
        <div class="place2">
          <div class="from">
            <svg class="location" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" style="fill: grey;transform: ;msFilter:;"><path d="M12 2C7.589 2 4 5.589 4 9.995 3.971 16.44 11.696 21.784 12 22c0 0 8.029-5.56 8-12 0-4.411-3.589-8-8-8zm0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z"></path></svg>
            <input type="text" placeholder="Yaounde">
          </div>
          <div class="to">
            <svg class="direction" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: black;transform: ;msFilter:;"><path d="M19.924 10.383a1 1 0 0 0-.217-1.09l-5-5-1.414 1.414L16.586 9H4v2h15a1 1 0 0 0 .924-.617zM4.076 13.617a1 1 0 0 0 .217 1.09l5 5 1.414-1.414L7.414 15H20v-2H5a.999.999 0 0 0-.924.617z"></path></svg>
            <svg class="location" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" style="fill: grey;transform: ;msFilter:;"><path d="M12 2C7.589 2 4 5.589 4 9.995 3.971 16.44 11.696 21.784 12 22c0 0 8.029-5.56 8-12 0-4.411-3.589-8-8-8zm0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z"></path></svg>

            <input type="text" placeholder="Douala">
          </div>
        </div>
      </div>

      <div class="depart">
        <p>Departure</p>
        <div class="date">
          <input type="date">
        </div>
      </div>
      <a routerLink="/agency"><input type="submit" value="Choose Your Agency" class="submit"></a>
    </div>

    <div class="img-section">
      <img src="section1.PNG" alt="">
    </div>
  </div>
</div>

