<div class="nav">
  <div class="logo">
    <img src="krome-white.png" alt="">
  </div>
  <p>Agency Selection</p>
</div>
<div class="section1 pb-5">
  <h1 class="fs-4 mb-5 text-uppercase fw-bold">These are agency that are going to Yaounde from Buea</h1>


  <div class="agency-card d-flex mb-3">
    <div class="agency-card2 d-flex">
      <img src="buca.jpg" alt="" class="agency-img">
      <div class="agency-text ms-3">
        <div class="agency-name fs-4 fw-bold text-uppercase">BUCA Voyage</div>
        <div class="agency-description mb-2">Buca est une agence de voyage immense qui acceuille <br>
          plus de 200k personne chaque annee.
        </div>
        <div class="agency-location d-flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
               style="fill: black;">
            <path
              d="M12 2C7.589 2 4 5.589 4 9.995 3.971 16.44 11.696 21.784 12 22c0 0 8.029-5.56 8-12 0-4.411-3.589-8-8-8zm0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z">
            </path>
          </svg>
          <p>Yaounde(Mvan)</p>
          <p class="mx-5">|</p>

          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
               style="fill: black;">
            <path
              d="M12 2C7.589 2 4 5.589 4 9.995 3.971 16.44 11.696 21.784 12 22c0 0 8.029-5.56 8-12 0-4.411-3.589-8-8-8zm0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z">
            </path>
          </svg>
          <p>Douala(Bonaberi)</p>
        </div>
      </div>
    </div>
    <div class="agency-btn">
      <a routerLink="/schedule"><button type="button" class="btn btn-primary">Travel with Buca</button></a>
    </div>
  </div>



  <div class="agency-card d-flex mb-3">
    <div class="agency-card2 d-flex">
      <img src="finex.png" alt="" class="agency-img">
      <div class="agency-text ms-3">
        <div class="agency-name fs-4 fw-bold text-uppercase">FINEX Voyage</div>
        <div class="agency-description mb-2">Finex est une agence de voyage immense qui acceuille <br>
          plus de 300k personne chaque annee.
        </div>
        <div class="agency-location d-flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
               style="fill: black;">
            <path
              d="M12 2C7.589 2 4 5.589 4 9.995 3.971 16.44 11.696 21.784 12 22c0 0 8.029-5.56 8-12 0-4.411-3.589-8-8-8zm0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z">
            </path>
          </svg>
          <p>Yaounde(Mvan)</p>
          <p class="mx-5">|</p>

          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
               style="fill: black;">
            <path
              d="M12 2C7.589 2 4 5.589 4 9.995 3.971 16.44 11.696 21.784 12 22c0 0 8.029-5.56 8-12 0-4.411-3.589-8-8-8zm0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z">
            </path>
          </svg>
          <p>Douala(Mboppi)</p>
        </div>
      </div>
    </div>
    <div class="agency-btn">
      <button type="button" class="btn btn-primary">Travel with Finex</button>
    </div>
  </div>


  <div class="agency-card d-flex mb-3">
    <div class="agency-card2 d-flex">
      <img src="garanti.png" alt="" class="agency-img">
      <div class="agency-text ms-3">
        <div class="agency-name fs-4 fw-bold text-uppercase">Garanti Express</div>
        <div class="agency-description mb-2">Garanti est une agence de voyage immense qui acceuille <br>
          plus de 200k personne chaque annee.
        </div>
        <div class="agency-location d-flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
               style="fill: black;">
            <path
              d="M12 2C7.589 2 4 5.589 4 9.995 3.971 16.44 11.696 21.784 12 22c0 0 8.029-5.56 8-12 0-4.411-3.589-8-8-8zm0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z">
            </path>
          </svg>
          <p>Yaounde(Nsam)</p>
          <p class="mx-5">|</p>

          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
               style="fill: black;">
            <path
              d="M12 2C7.589 2 4 5.589 4 9.995 3.971 16.44 11.696 21.784 12 22c0 0 8.029-5.56 8-12 0-4.411-3.589-8-8-8zm0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z">
            </path>
          </svg>
          <p>Douala(Akwa, Bonaberi, Yassa)</p>
        </div>
      </div>
    </div>
    <div class="agency-btn">
      <button type="button" class="btn btn-primary">Travel with garanti</button>
    </div>
  </div>


  <div class="agency-card d-flex mb-3">
    <div class="agency-card2 d-flex">
      <img src="general.jpg" alt="" class="agency-img">
      <div class="agency-text ms-3">
        <div class="agency-name fs-4 fw-bold text-uppercase">General express</div>
        <div class="agency-description mb-2">General est une agence de voyage immense qui acceuille <br>
          plus de 400k personne chaque annee.
        </div>
        <div class="agency-location d-flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
               style="fill: black;">
            <path
              d="M12 2C7.589 2 4 5.589 4 9.995 3.971 16.44 11.696 21.784 12 22c0 0 8.029-5.56 8-12 0-4.411-3.589-8-8-8zm0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z">
            </path>
          </svg>
          <p>Yaounde(Mvan)</p>
          <p class="mx-5">|</p>

          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
               style="fill: black;">
            <path
              d="M12 2C7.589 2 4 5.589 4 9.995 3.971 16.44 11.696 21.784 12 22c0 0 8.029-5.56 8-12 0-4.411-3.589-8-8-8zm0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z">
            </path>
          </svg>
          <p>Douala(Mboppi)</p>
        </div>
      </div>
    </div>
    <div class="agency-btn">
      <button type="button" class="btn btn-primary">Travel with General</button>
    </div>
  </div>


  <div class="agency-card d-flex mb-3">
    <div class="agency-card2 d-flex">
      <img src="buca.jpg" alt="" class="agency-img">
      <div class="agency-text ms-3">
        <div class="agency-name fs-4 fw-bold text-uppercase">BUCA Voyage</div>
        <div class="agency-description mb-2">Buca est une agence de voyage immense qui acceuille <br>
          plus de 200k personne chaque annee.
        </div>
        <div class="agency-location d-flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
               style="fill: black;">
            <path
              d="M12 2C7.589 2 4 5.589 4 9.995 3.971 16.44 11.696 21.784 12 22c0 0 8.029-5.56 8-12 0-4.411-3.589-8-8-8zm0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z">
            </path>
          </svg>
          <p>Yaounde(Mvan)</p>
          <p class="mx-5">|</p>

          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
               style="fill: black;">
            <path
              d="M12 2C7.589 2 4 5.589 4 9.995 3.971 16.44 11.696 21.784 12 22c0 0 8.029-5.56 8-12 0-4.411-3.589-8-8-8zm0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z">
            </path>
          </svg>
          <p>Douala(Bonaberi)</p>
        </div>
      </div>
    </div>
    <div class="agency-btn">
      <button type="button" class="btn btn-primary">Travel with Buca</button>
    </div>
  </div>


</div>
