<section style="background-image: url(Simple%20Shiny.svg);">
    <nav class="flex">
        <div class="logo">
            <img src="krome-white.png" alt="">
        </div>
        <div class="navbar">
            Trip summary
        </div>
    </nav>
    <div class="section1">
        <h1>Trip summary</h1>
        <div class="item">
            <div>Name: </div>
            <span>Ange Boyz</span>
        </div>
        <div class="item">
            <div>from:</div>
            <span>Douala</span>
            <div>to: </div>
            <span>Buea</span>
        </div>
        <div class="item">
            <div>trip-type:</div>
            <span>One way</span>
        </div>
        <div class="item">
            <div>
                Bus Agency: </div>
            <span>Buca Voyage</span>
        </div>
        <div class="item">
            <div>Bus type: </div>
            <span>VIP</span>
        </div>
        <div class="item">
            <div>Daparture day:</div> <span>1/02/2024</span>
        </div>
        <div class="item">
            <div>Depature time:</div> <span>6pm</span>
        </div>
        <div class="item">
            <div>Number of seat(s): </div><span>46</span>
        </div>
        <div class="item">
            <div>Total Seat number: </div><span>3</span>
        </div>
        <div class="item">
            <div>Total price:</div> <span>1000 XFA</span>
        </div>
        <form action="">
            <input type="submit" value="Buy it now">
        </form>
    </div>
</section>