<div class="flex h-screen bg-gray-100">
  <div
    class="bg-[#032485] justify-between text-white w-64 space-y-6 py-7 px-2 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out"
    [class.translate-x-0]="sidebarOpen"
  >
    <a href="#" class="flex items-center space-x-2 px-4 h-5 w-40">
      <img src="krome-white.png">
    </a>
    <nav>
      <a routerLink="/dashboard/stats"
         routerLinkActive="bg-[#0233C0]"
         (click)="toggleSidebar()"
         class="block py-2.5 px-4 rounded transition duration-200 hover:bg-[#0233C0]">
        Statistics
      </a>
      <a routerLink="/dashboard/userManagement"
         routerLinkActive="bg-[#0233C0]"
         (click)="toggleSidebar()"
         class="block py-2.5 px-4 rounded transition duration-200 hover:bg-[#0233C0]">
        userManagement
      </a>
      <a routerLink="/dashboard/trip-details"
         routerLinkActive="bg-[#0233C0]"
         (click)="toggleSidebar()"
         class="block py-2.5 px-4 rounded transition duration-200 hover:bg-[#0233C0]">
        Bus Trip Details
      </a>
      <a routerLink="/dashboard/hotel-rooms"
         routerLinkActive="bg-[#0233C0]"
         (click)="toggleSidebar()"
         class="block py-2.5 px-4 rounded transition duration-200 hover:bg-[#0233C0]">
        Hotel Rooms
      </a>
      <a routerLink="/dashboard/bus-seats"
         routerLinkActive="bg-[#0233C0]"
         (click)="toggleSidebar()"
         class="block py-2.5 px-4 rounded transition duration-200 hover:bg-[#0233C0]">
        Bus Seats
      </a>
      <a routerLink="/dashboard/tickets"
         routerLinkActive="bg-[#0233C0]"
         (click)="toggleSidebar()"
         class="block py-2.5 px-4 rounded transition duration-200 hover:bg-[#0233C0]">
        Tickets
      </a>
      <a routerLink="/dashboard/settings"
         routerLinkActive="bg-[#0233C0]"
         (click)="toggleSidebar()"
         class="block py-2.5 px-4 rounded transition duration-200 hover:bg-[#0233C0]">
        Settings
      </a>
    </nav>
  </div>

  <div class="flex-1 flex flex-col overflow-hidden">
    <header class="flex justify-between items-center bg-[#0233C0] shadow-md p-4">
      <button class="text-white md:hidden" (click)="toggleSidebar()">
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"
          ></path>
        </svg>
      </button>
      <div class="search-container">
        <input type="text" placeholder="Search Trip">
      </div>
      <div class="rightNavBar">
        <div class="icon"><img src="user.svg" alt="User" class="user-icon"><span class="userName"></span></div>
      </div>
    </header>

    <main class="flex-1 overflow-y-auto p-6">
      <router-outlet/>
    </main>
  </div>
</div>
