<div class="body" style="background-image: url(Simple%20Shiny.svg);">
    <div class="nav">
        <div class="logo">
            <img src="krome-white.png" alt="">
        </div>
        <p>Bus Ticket</p>
    </div>

    <div class="sections">
        <div class="section1">
            <p class="header">You choose <span>Buca voyage</span> </p>
            <div class="item">Name <span>Ange Boyz</span></div>
            <div class="item">From <span>Douala</span> To <span>Yaounde</span></div>
            <div class="item">Bus <span>CE234AL</span></div>
            <div class="item">Seat number <span>46</span></div>
            <div class="item">Total seat number <span>1</span></div>
            <div class="item">Total price <span>500XFA</span></div>
            <div class="item">Departure date <span>20/9/2014</span></div>
            <div class="item">time <span>9am</span></div>

        </div>

        <div class="img-section">
            <img src="qr.png" alt="">
        </div>
    </div>
</div>