<div style="background-image: url(Simple%20Shiny.svg);" class="seat-map-container">
  <h1>Select your Seats</h1>
  <div class="seat-map">
    <div class="row">
      <div class="seat available" data-seat="seat n°70">70</div>
      <div class="seat occupied" data-seat="seat n°69">69</div>
      <div class="seat available" data-seat="seat n°68">68</div>
      <div class="seat available" data-seat="seat n°67">67</div>
      <div class="seat available" data-seat="seat n°66">66</div>
    </div>
    <div class="row">
      <div class="row1">
        <div class="seat occupied" data-seat="seat n°65">65</div>
        <div class="seat occupied" data-seat="seat n°64">64</div>
      </div>
      <div class="row1">
        <div class="seat available" data-seat="seat n°63">63</div>
        <div class="seat available" data-seat="seat n°62">62</div>
      </div>
    </div>

    <div class="row">
      <div class="row1">
        <div class="seat occupied" data-seat="seat n°61">61</div>
        <div class="seat occupied" data-seat="seat n°60">60</div>
      </div>
      <div class="row1">
        <div class="seat available" data-seat="seat n°59">59</div>
        <div class="seat available" data-seat="seat n°58">58</div>
      </div>
    </div>


    <div class="row">
      <div class="row1">
        <div class="seat occupied" data-seat="seat n°57">57</div>
        <div class="seat occupied" data-seat="seat n°56">56</div>
      </div>
      <div class="row1">
        <div class="seat available" data-seat="seat n°55">55</div>
        <div class="seat available" data-seat="seat n°54">54</div>
      </div>
    </div>

    <div class="row">
      <div class="row1">
        <div class="seat occupied" data-seat="seat n°53">53</div>
        <div class="seat occupied" data-seat="seat n°52">52</div>
      </div>
      <div class="row1">
        <div class="seat available" data-seat="seat n°51">51</div>
        <div class="seat available" data-seat="seat n°50">50</div>
      </div>
    </div>


    <div class="row">
      <div class="row1">
        <div class="seat occupied" data-seat="seat n°49">49</div>
        <div class="seat occupied" data-seat="seat n°48">48</div>
      </div>
      <div class="row1">
        <div class="door available" data-seat="seat n°46">door</div>
      </div>
    </div>


    <div class="row">
      <div class="row1">
        <div class="seat occupied" data-seat="seat n°45">45</div>
        <div class="seat occupied" data-seat="seat n°44">44</div>
      </div>
      <div class="row1">
        <div class="seat available" data-seat="seat n°43">43</div>
        <div class="seat available" data-seat="seat n°42">42</div>
      </div>
    </div>


    <div class="row">
      <div class="row1">
        <div class="seat occupied" data-seat="seat n°41">41</div>
        <div class="seat occupied" data-seat="seat n°40">40</div>
      </div>
      <div class="row1">
        <div class="seat available" data-seat="seat n°39">39</div>
        <div class="seat available" data-seat="seat n°38">38</div>
      </div>
    </div>


    <div class="row">
      <div class="row1">
        <div class="seat occupied" data-seat="seat n°37">37</div>
        <div class="seat occupied" data-seat="seat n°36">36</div>
      </div>
      <div class="row1">
        <div class="seat available" data-seat="seat n°35">35</div>
        <div class="seat available" data-seat="seat n°34">34</div>
      </div>
    </div>


    <div class="row">
      <div class="row1">
        <div class="seat occupied" data-seat="seat n°33">33</div>
        <div class="seat occupied" data-seat="seat n°32">32</div>
      </div>
      <div class="row1">
        <div class="seat available" data-seat="seat n°31">31</div>
        <div class="seat available" data-seat="seat n°30">30</div>
      </div>
    </div>


    <div class="row">
      <div class="row1">
        <div class="seat occupied" data-seat="seat n°29">29</div>
        <div class="seat occupied" data-seat="seat n°28"></div>
      </div>
      <div class="row1">
        <div class="seat available" data-seat="seat n°27">27</div>
        <div class="seat available" data-seat="seat n°26">26</div>
      </div>
    </div>


    <div class="row">
      <div class="row1">
        <div class="seat occupied" data-seat="seat n°25">25</div>
        <div class="seat occupied" data-seat="seat n°24">24</div>
      </div>
      <div class="row1">
        <div class="seat available" data-seat="seat n°23">23</div>
        <div class="seat available" data-seat="seat n°22">22</div>
      </div>
    </div>


    <div class="row">
      <div class="row1">
        <div class="seat occupied" data-seat="seat n°21">21</div>
        <div class="seat occupied" data-seat="seat n°20">20</div>
      </div>
      <div class="row1">
        <div class="seat available" data-seat="seat n°19">19</div>
        <div class="seat available" data-seat="seat n°18">18</div>
      </div>
    </div>


    <div class="row">
      <div class="row1">
        <div class="seat occupied" data-seat="seat n°17">17</div>
        <div class="seat occupied" data-seat="seat n°16">16</div>
      </div>
      <div class="row1">
        <div class="door available" data-seat="seat n°14">door</div>
      </div>
    </div>

    <div class="row">
      <div class="row1">
        <div class="seat available" data-seat="seat n°13">13</div>
        <div class="seat occupied" data-seat="seat n°12">12</div>
      </div>
      <div class="row1">
        <div class="seat available" data-seat="seat n°11">11</div>
        <div class="seat available" data-seat="seat n°10">10</div>
      </div>
    </div>


    <div class="row">
      <div class="row1">
        <div class="seat available" data-seat="seat n°09">09</div>
        <div class="seat available" data-seat="seat n°08">08</div>
      </div>
      <div class="row1">
        <div class="seat available" data-seat="seat n°07">07</div>
        <div class="seat available" data-seat="seat n°06">06</div>
      </div>
    </div>


    <div class="row">
      <div class="row1">
        <div class="seat occupied" data-seat="seat n°05">05</div>
        <div class="seat available" data-seat="seat n°04">04</div>
      </div>
      <div class="row1">
        <div class="seat available" data-seat="seat n°03">03</div>
        <div class="seat available" data-seat="seat n°02">02</div>
      </div>
    </div>

    <div class="row">
      <div class="row1">
        <div class="seat occupied" data-seat="dRIVER">Driver</div>

      </div>
      <div class="row1">
        <div class="seat occupied" data-seat="seat n°01">01</div>
      </div>
    </div>





    <!-- More rows here -->
  </div>


  <div class="seat-summary">
    <div class="seat-selected">
      <h4>Selected Seats</h4>
      <ul id="selected-seats">
        <!-- Selected seats will appear here -->
      </ul>
    </div>
    <div class="p">
      <p>Total Price: <b><span id="total-price">00XAF</span></b> </p>
    </div>
    <div class="p">
      <p>Total Seats: <b><span id="total-seats">Seat(s)</span></b> </p>
    </div>

    <div class="continue">
      <a routerLink="/trip-summary">continue</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
    </div>
  </div>

</div>
