<div style="background-image: url('Simple%20Shiny.svg');" class="seat-map-container">
  <h1>Select your Seats</h1>
  <div class="legende1 flex">
    <h2>Legend</h2>
    Available <div class="seat available legende"></div>
    Occupied <div class="seat occupied legende"></div>
    Selected <div class="seat available blue legende"></div>
  </div>
  
  <div class="seat-map">
    <div class="row" *ngFor="let row of seatRows">
      <div *ngFor="let seat of row" class="seat"
           [class.available]="seat.available"
           [class.occupied]="!seat.available"
           [class.selected]="seat.selected"
           [class.door]="seat.door"
           [class.noShow]="seat.noShow"
           (click)="toggleSeat(seat)">
        {{ seat.number }}
      </div>
    </div>
  </div>

  <div class="seat-summary">
    <div class="seat-selected">
      <h4>Selected Seats</h4>
      <ul id="selected-seats">
        <li *ngFor="let seat of selectedSeats">{{ seat }}</li>
      </ul>
    </div>

    <div class="p">
      <p>Total Price: <b><span id="total-price">{{ totalPrice }} XAF</span></b></p>
    </div>
    
    <div class="p">
      <p>Total Seats: <b><span id="total-seats">{{ totalSeats }}</span></b></p>
    </div>

    <div class="continue">
      <a routerLink="/trip-summary">Continue</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);">
        <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
      </svg>
    </div>
  </div>
</div>
