<section style="background-image: url(Simple%20Shiny.svg);">
    <nav class="flex">
        <div class="logo">
            <img src="krome-white.png" alt="">
        </div>
        <div class="navbar">
            Payment
        </div>
    </nav>

    <div class="section1">
        <form action="">
            Enter your <span>Momo</span> number:
            <input type="text"><br>
            <a routerLink="/ticket"><input type="submit" value="Pay" class="pay"></a>
        </form>
    </div>
</section>
