/* Header section */
.header_samuel {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
  border: 1px solid #e0e0e0;
}

.logo_samuel {
  font-weight: bold;
  font-size: 24px;
}

.navbar_samuel {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar_samuel li {
  margin-right: 10px;
}

.profile_samuel {
  display: flex;
  align-items: center;
}

.profile_samuel img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

/* Hero section */
.hero_samuel {
  background-image: url("../img/samuel_img/background.png");
  background-size: 1200px 500px;
  background-position: center;
  padding: 20px;
  text-align: center;
  border: 1px solid #f2f2f2;
}

.hero_samuel h1 {
  font-size: 36px;
  color: white;
  margin-bottom: 10px;
}

.hero_samuel h2 {
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

.search_form_samuel {
  margin-bottom: 20px;
}

.search_form_samuel input {
  margin-right: 10px;
  padding: 5px;
}

.search_form_samuel button {
  padding: 5px 10px;
  background-color: darkblue;
  color: white;
  border: none;
}

.accommodation_checkbox_samuel {
  color: white;
}

/* Offers section */
.offers_samuel {
  text-align: center;
  padding: 20px;
  border: 1px solid #d0d0d0;
}

.offers_samuel h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.view_all_button_samuel {
  padding: 5px 10px;
  background-color: darkblue;
  color: white;
  border: none;
  margin-bottom: 10px;
}

.offers_samuel img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
}

/* Process section */
.process_samuel {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #e0e0e0;
}

.process_samuel h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.process_step_samuel {
  text-align: center;
  display: inline-block;
  width: 20%;
  margin-bottom: 20px;
  vertical-align: top;
  margin-left: 50px;
}

.process_step_samuel img {
  width: 250px;
  height: 200px;
  margin-bottom: 10px;
}

.process_step_samuel h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.process_step_samuel p {
  font-size: 14px;
  color: #666666;
}
