/* Header section */
*{
  font-family: "century gothic";
}
.home_samuel{
  height: 100vh;
  width: 100%;
  background-image: url("../img/samuel_img/bc2.png ");
  background-repeat: no-repeat;
  background-size: cover;
}
.header_samuel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
  height: 70px;
}

.logo_samuel img{
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.navbar_samuel {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar_samuel li {
  margin-right: 10px;
}

.login-link_samuel {
  display: inline-block;
  padding: 5px 10px;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  color: blue;
  margin-right: 10px;
}

.login-link_samuel:hover{
  color: white;
  background-color: blue;
}

.login-link_samuel:active{
  color: white;
  background-color: blue;
  font-weight: bolder;
}

.signup-link_samuel:hover{
  color: white;
  background-color: blue;
}

.signup-link_samuel:active{
  color: white;
  background-color: blue;
  font-weight: bolder;
}

.signup-link_samuel {
  display: inline-block;
  padding: 5px 10px;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  color: blue;
  margin-right: 10px;
}

.profile_samuel {
  display: flex;
  align-items: center;
}

.profile_samuel img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

/* Hero section */
.hero_samuel {
  background-size: 1200px 500px;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 60vh;
  align-content: center;
}

.hero_samuel h1 {
  font-size: 50px;
  color: blue;
  margin-bottom: 1px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.hero_logo{
  color: darkblue;
}

.hero_samuel p{
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;
}

.search_form_samuel {
  margin-bottom: 20px;
}

.search_form_samuel input {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  width: 200px;
  height: 20px;
  color: blue;
}

.search_form_samuel button {
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: 1px solid gray;
  border-radius: 10px;
}

.accommodation_checkbox_samuel {
  font-weight: bold;
  color: blue;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;
}

/* Offers section */
.offers-section_samuel {
  padding: 20px;
  background-color: #f9f9f9;
}

.offers-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.offers-header h2 {
  font-size: 24px;
  margin: 0;
}

.view-all-link {
  text-decoration: none;
  color: #333;
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s;
}

.view-all-link:hover {
  border-color: #F6A548;
  background-color: #F6A548;
}

.view-all-link:active {
  background-color: #F6A548;
  border-color: black;
}

.offers-container_samuel {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  scroll-behavior: smooth;
}

.offer-box_samuel {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  height: 100px; /* Set a fixed height for the offer boxes */
}

.discount-icon_samuel {
  font-size: 24px;
  margin-right: 15px;
}

.offer-content_samuel {
  display: flex;
  flex-direction: column;
}

.promotion-copy_samuel {
  font-size: 15px;
  margin: 0;
  word-wrap: break-word;
  text-align: right;
}

.discount-code_samuel {
  font-size: 12px;
  font-weight: bold;
  color: black;
  word-wrap: break-word;
  text-align: right;
}

/* Process section */
.process_samuel {
  background-color: #F9F9F9;
  padding: 20px;
  border: 1px solid #e0e0e0;
}

.process_samuel h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.process_step_samuel {
  text-align: center;
  display: inline-block;
  width: 20%;
  margin-bottom: 20px;
  vertical-align: top;
  margin-left: 50px;
}

.process_step_samuel img {
  width: 250px;
  height: 200px;
  margin-bottom: 10px;
  border: 1px;
  border-radius: 30px;
}

.process_step_samuel h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.process_step_samuel p {
  font-size: 14px;
  color: #666666;
}
