<app-header class="mb-10"></app-header>
<section style="background-image: url(Simple%20Shiny.svg); background-repeat: repeat" class="sign-in flex flex-col md:flex-row items-center justify-center min-h-screen bg-gray-100">
  <div class="sign-up">
    <form action="">
      <img src="krome_logo.png" alt="">
      <div class="sign-up-info">
        <h2>Log In</h2>
        <p>Let's continue our venture</p>
      </div>


      <label for="mail">Email <br>
        <input type="email" name="mail" id="email" placeholder="Enter your email">
      </label><br>
      <label for="password">password <br>
        <input type="password" name="password" placeholder="Enter your password" id="password"><br>
      </label>
      <input type="submit" value="Log In" class="up-btn">
      <p>Don't have an account? <a routerLink="/signUp" class="hover:underline">Sign Up</a></p>
    </form>
    <div class="sign-up-img">
      <img src="login.png" alt="">
    </div>
  </div>
</section>
<div class="mt-50"><app-footer></app-footer></div>
